/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin-700.woff2") format("woff2");
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v20-latin-900.woff2") format("woff2");
}

body {
  background-color: #E9EDF5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.color-1 {
  background-color: #FFCDCD;
}

.color-2 {
  background-color: #FED283;
}

.color-3 {
  background-color: #F9F6C1;
}

.color-4 {
  background-color: #DEF0A9;
}

.color-5 {
  background-color: #E3D9F4;
}

.color-6 {
  background-color: #CCDAFF;
}

.color-7 {
  background-color: #C4E0F2;
}

.color-8 {
  background-color: #ADE8D6;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  letter-spacing: 1px;
}

.buttons .primary-button, .buttons .secondary-button, .buttons .exit-button {
  all: unset;
  padding: 15px 45px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 5px;
}

.buttons .primary-button {
  background-color: #5B8AFD;
  margin-right: 20px;
}

.buttons .primary-button:hover {
  background-color: #3564da;
}

.buttons .secondary-button {
  background-color: #FF7C7C;
}

.buttons .secondary-button:hover {
  background-color: #DD4444;
}

.buttons .exit-button {
  background-color: #008E41;
}

.buttons .exit-button:hover {
  background-color: #087539;
}

.title {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.enterRoom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.enterRoom .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enterRoom .input label {
  font-size: 20px;
  color: #6bb363;
  margin-bottom: 5px;
}

.enterRoom .input input {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #6bb363;
}

.createRoom .title {
  color: #2AA11F;
}

.createRoom img {
  margin: 50px;
}

.createRoom .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createRoom .flex-column .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.createRoom .flex-column .input label {
  font-size: 20px;
  color: #2AA11F;
  margin-bottom: 5px;
}

.createRoom .flex-column .input input[type=text] {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #2AA11F;
  width: 30vw;
}

.createRoom .flex-column .input textarea {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #2AA11F;
  width: 30vw;
}

.createRoom .flex-column .input .range {
  width: calc(30vw + 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createRoom .flex-column .input .range input[type=range] {
  width: 30vw;
}

.createRoom .flex-column .input .range .range-value {
  font-size: 20px;
}

.createRoom .flex-column .input .flow {
  width: calc(30vw + 40px);
}

.createRoom .flex-column .input input[type=date] {
  width: calc(30vw + 40px);
}

.createRoom .flex-column .input .buttons {
  width: calc(30vw + 40px);
}

.userView nav {
  background-color: #6C93FC;
  height: 64px;
  padding: 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 20vw auto 20vw 10vw;
      grid-template-columns: 10vw 20vw auto 20vw 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userView nav p {
  margin: 0;
  color: #FAFAFA;
}

.userView nav .nav-roomphase {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.userView nav .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userView nav .nav-center .note-icon:hover {
  cursor: pointer;
}

.userView nav .nav-end {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-column-align: end;
      justify-self: end;
}

.userView nav .nav-end button {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff00;
  font-size: 22px;
  font-weight: 400;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  border-radius: 4px;
  padding: 7px 15px;
}

.userView nav .nav-end button p {
  margin-right: 10px;
}

.userView nav .nav-end button:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.userView nav .nav-end button:hover p {
  color: #666666;
}

.userView nav .nav-end button .username-button {
  all: unset;
}

.userView nav .nav-end button .username-button p {
  font-size: 1px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  padding-bottom: 0px;
}

.userView nav .nav-end button .username-button:hover {
  cursor: pointer;
}

.userView .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15vw;
      grid-template-columns: auto 15vw;
  height: calc(100vh - 64px);
}

.userView .body .canvas {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  padding: 45px;
  overflow-y: scroll;
}

.userView .body .canvas .canvas-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}

.userView .body .canvas .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userView .body .userList {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userView .body .userList .userList-header {
  background-color: #CCCCCC;
  height: 64px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userView .body .userList .userList-header p {
  margin: 0;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
}

.userView .body .userList .userList-body {
  padding: 0 25px;
}

.userView .nameState {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.userView .nameState .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userView .nameState .input label {
  font-size: 20px;
  color: #6bb363;
  margin-bottom: 5px;
}

.userView .nameState .input input {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #6bb363;
}

.userView .nameState .input .buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.userView .nameState .input .buttons button {
  margin-right: 0;
}

.userView .phase1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.questions {
  background-color: #FAFAFA;
  border: 4px solid #5B8AFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  width: 550px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}

.questions h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.users {
  background-color: #FAFAFA;
  border-radius: 8px;
  height: 64px;
  margin: 10px 0;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users p {
  font-size: 16px;
  color: #999999;
  font-weight: bold;
  padding: 0 20px;
}

.brainstorming {
  margin: 20px;
  border-radius: 16px;
  width: 220px;
  height: 170px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brainstorming icon {
  position: absolute;
  top: 10;
  right: 10;
}

.brainstorming textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  margin: 0;
  padding: 0;
  border: 0px solid black;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
}

.carousel {
  background-color: #FAFAFA;
  border: 4px solid #5B8AFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  width: 75vw;
  padding: 25px 20px;
  margin-left: 20px;
}

.carousel h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.carousel .carousel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px -20px -20px;
  overflow-x: scroll;
}

.paragraph {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  background-color: #FAFAFA;
  padding: 40px;
  margin: 20px;
  width: 39.5vw;
}

.paragraph .inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #F0F0F0;
  padding: 20px;
}

.paragraph .inner-box textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: #FAFAFA;
  position: inherit;
  width: inherit;
  height: 15vh;
  margin: 0;
  padding: 0;
  border: 0px solid black;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
  margin: 10px;
  padding: 10px;
}

.paragraph .inner-box .plus-icon:hover {
  cursor: pointer;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.center-text {
  text-align: center;
  top: 50%;
}

.center-button {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.MainHall nav {
  background-color: #FAFAFA;
  height: 64px;
  padding: 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 20vw auto 20vw 10vw;
      grid-template-columns: 10vw 20vw auto 20vw 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainHall nav img {
  margin: 5px 10px 0px 0px;
}

.MainHall nav p {
  margin: 0;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.7em;
}

.MainHall nav p .current-tab {
  color: #467AFF !important;
}

.MainHall nav p .current-tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.MainHall nav p .other-tab {
  color: #666666 !important;
}

.MainHall nav p .other-tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.MainHall nav .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MainHall nav .nav-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  justify-self: end;
}

.MainHall nav .nav-end button {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff00;
  font-size: 22px;
  font-weight: 400;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  border-radius: 4px;
  padding: 7px 15px;
}

.MainHall nav .nav-end button p {
  margin-right: 10px;
}

.MainHall nav .nav-end button:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.MainHall nav .nav-end button:hover p {
  color: #666666;
}

.MainHall nav .nav-end button:hover svg path {
  stroke: #666666 !important;
}

.MainHall .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  height: calc(100vh - 64px);
  background-color: #E9EDF5;
}

.MainHall .body .canvas {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  padding: 45px;
  overflow-y: auto;
}

.MainHall .body .canvas h {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}

.MainHall .body .canvas hr {
  border-right: 350px solid #E6E6E6;
  border-radius: 50px;
}

.MainHall .body .canvas .card {
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  width: 400px;
  padding: 25px 20px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.MainHall .body .canvas .card p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}

.MainHall .body .canvas .card p .time {
  font-size: 14px;
  color: #aaa5a5;
  font-weight: lighter;
}

.MainHall .body .canvas .card hr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 3vw;
}

.MainHall .body .canvas .card .card-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.MainHall .body .canvas .card .card-header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.MainHall .body .canvas .card .card-header .icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.MainHall .body .canvas .card .card-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0vw -3.5vw 1vw 0vw;
  word-wrap: break-word;
  word-break: break-word;
}

.MainHall .body .canvas .card .icon1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}

.MainHall .body .canvas .card .time-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: -5px;
  margin-left: 35px;
  white-space: nowrap;
}

.MainHall .body .canvas .card .date-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: -5px;
  margin-left: 35px;
  white-space: nowrap;
}

.MainHall .body .canvas .card .icon2-ongoing {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: -98px;
}

.MainHall .body .canvas .card .room-size-text-ongoing {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: -15px;
  margin-right: -37px;
}

.MainHall .body .canvas .card .join-button-ongoing {
  all: unset;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  border-radius: 25px;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #5B8AFD;
}

.MainHall .body .canvas .card .join-button-ongoing:hover {
  background-color: #3564da;
}

.MainHall .body .canvas .card .icon2-scheduled {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: -38px;
}

.MainHall .body .canvas .card .room-size-text-scheduled {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: -15px;
  margin-right: -17px;
}

.MainHall .body .canvas .card .join-button-scheduled {
  all: unset;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  border-radius: 25px;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #5B8AFD;
}

.MainHall .body .canvas .card .join-button-scheduled:hover {
  background-color: #3564da;
}

.MainHall .phase1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.profile .profile-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 5fr 3fr;
      grid-template-columns: 5fr 5fr 3fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 40px 50px 40px 50px;
}

.profile .profile-container h {
  font-family: 'Roboto', sans-serif;
  font-size: 1.55vw;
  color: #333333;
  white-space: nowrap;
}

.profile .profile-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #999999;
  word-wrap: break-word;
  word-break: break-word;
}

.profile .profile-container .remind {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 69.5vw;
  height: 7vw;
  padding: 25px 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.profile .profile-container .achievments {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 32vw;
  height: 34vw;
  justify-self: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.profile .profile-container .friends {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 32vw;
  height: 34vw;
  justify-self: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.profile .profile-container .profile-box {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 17.5vw;
  height: 17.5vw;
  padding: 25px 0px 20px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile-container .profile-box .profile-box-inner {
  display: -ms-grid;
  display: grid;
  width: inherit;
  height: inherit;
  padding: 0px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  position: absolute;
}

.profile .profile-container .profile-box .profile-box-inner .edit-icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0px 25px -25px 0px;
}

.profile .profile-container .profile-box .profile-box-inner .edit-icon:hover {
  cursor: pointer;
}

.profile .profile-container .profile-box .profile-box-inner .profile-pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.profile .profile-container .profile-box .profile-box-inner .profile-pic img {
  margin: -70px 0px 0px 0px;
  border-radius: 50%;
}

.profile .profile-container .profile-box .profile-box-inner .username {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: -70px 0px 0px 0px;
}

.profile .profile-container .about-me {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 18vw;
  height: 24.5vw;
  padding: 25px 20px;
  justify-self: start;
  margin-top: 9.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.profile .profile-container .about-me .about-me-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.profile .profile-container .about-me .about-me-inner .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 5px;
}

.profile .profile-container .about-me .about-me-inner .edit-icon {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 10px;
}

.profile .profile-container .about-me .about-me-inner .edit-icon:hover {
  cursor: pointer;
}

.profile .profile-container .about-me .about-me-inner .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 17vw;
  width: auto;
  margin: -20px 10px 10px 6px;
  word-wrap: break-word;
  overflow-y: scroll;
  word-break: break-word;
}
/*# sourceMappingURL=style.css.map */