/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin-700.woff2") format("woff2");
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v20-latin-900.woff2") format("woff2");
}

body {
  background-color: #E9EDF5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
}

.color-1 {
  background-color: #ccdaff;
}

.color-2 {
  background-color: #FFCCF3;
}

.color-3 {
  background-color: #FFF1CC;
}

.color-4 {
  background-color: #CCFFD8;
}

.color-5 {
  background-color: #A882DD;
}

.color-6 {
  background-color: #DD838A;
}

.color-7 {
  background-color: #B7DD83;
}

.color-8 {
  background-color: #83DDA8;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  letter-spacing: 1px;
}

.buttons .primary-button, .buttons .secondary-button, .buttons .exit-button {
  all: unset;
  padding: 15px 45px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 5px;
}

.buttons .primary-button {
  background-color: #5B8AFD;
  margin-right: 20px;
}

.buttons .primary-button:hover {
  background-color: #3564da;
}

.buttons .secondary-button {
  background-color: #FF7C7C;
}

.buttons .secondary-button:hover {
  background-color: #DD4444;
}

.buttons .exit-button {
  background-color: #008E41;
}

.buttons .exit-button:hover {
  background-color: #087539;
}

.title {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.enterRoom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.enterRoom .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enterRoom .input label {
  font-size: 20px;
  color: #6bb363;
  margin-bottom: 5px;
}

.enterRoom .input input {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #6bb363;
}

.createRoom .title {
  color: #2AA11F;
}

.createRoom img {
  margin: 50px;
}

.createRoom .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createRoom .flex-column .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.createRoom .flex-column .input label {
  font-size: 20px;
  color: #2AA11F;
  margin-bottom: 5px;
}

.createRoom .flex-column .input input[type=text] {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #2AA11F;
  width: 30vw;
}

.createRoom .flex-column .input textarea {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #2AA11F;
  width: 30vw;
}

.createRoom .flex-column .input .range {
  width: calc(30vw + 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createRoom .flex-column .input .range input[type=range] {
  width: 30vw;
}

.createRoom .flex-column .input .range .range-value {
  font-size: 20px;
}

.createRoom .flex-column .input .flow {
  width: calc(30vw + 40px);
}

.createRoom .flex-column .input input[type=date] {
  width: calc(30vw + 40px);
}

.createRoom .flex-column .input .buttons {
  width: calc(30vw + 40px);
}

.userView nav {
  background-color: #6C93FC;
  height: 64px;
  padding: 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 20vw auto 20vw 10vw;
      grid-template-columns: 10vw 20vw auto 20vw 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userView nav p {
  margin: 0;
  color: #FAFAFA;
}

.userView nav .nav-roomphase {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.userView nav .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userView nav .nav-center .note-icon:hover {
  cursor: pointer;
}

.userView nav .nav-end {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-column-align: end;
      justify-self: end;
}

.userView nav .nav-end button {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff00;
  font-size: 22px;
  font-weight: 400;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  border-radius: 4px;
  padding: 7px 15px;
}

.userView nav .nav-end button p {
  margin-right: 10px;
}

.userView nav .nav-end button:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.userView nav .nav-end button:hover p {
  color: #666666;
}

.userView nav .nav-end button:hover svg path {
  stroke: #666666 !important;
}

.userView .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15vw;
      grid-template-columns: auto 15vw;
  height: calc(100vh - 64px);
}

.userView .body .canvas {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  padding: 45px;
  overflow-y: scroll;
}

.userView .body .canvas .brainstorm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}

.userView .body .userList {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userView .body .userList .userList-header {
  background-color: #CCCCCC;
  height: 64px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userView .body .userList .userList-header p {
  margin: 0;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
}

.userView .body .userList .userList-body {
  padding: 0 25px;
}

.userView .nameState {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.userView .nameState .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userView .nameState .input label {
  font-size: 20px;
  color: #6bb363;
  margin-bottom: 5px;
}

.userView .nameState .input input {
  border-radius: 25px;
  line-height: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #6bb363;
}

.userView .nameState .input .buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.userView .nameState .input .buttons button {
  margin-right: 0;
}

.userView .phase1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.carousel-container {
  background-color: #FAFAFA;
  border: 4px solid #5B8AFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  width: 550px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  padding: 25px 20px;
}

.carousel-container ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.carousel-container ::-webkit-scrollbar-thumb {
  background: grey;
}

.carousel-container ::-webkit-scrollbar-track {
  background: darkgray;
}

.carousel-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.carousel-container item {
  scroll-snap-align: center;
}

.paragraph-outer {
  background-color: #FAFAFA;
  padding: 10px 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  width: 550px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paragraph-outer .paragraph-inner {
  background-color: #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 467.5px;
  min-height: 340px;
  position: absolute;
  left: 7.5%;
  top: 7.5%;
}

.paragraph-outer .paragraph-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: #FAFAFA;
  padding: 10px 10px;
}

.paragraph-outer .paragraph-user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  z-index: auto;
  position: relative;
}

.paragraph-outer textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  overflow: auto;
  outline: none;
  left: 11.5%;
  width: 412.5px;
  height: 80px;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
  font-size: 16px;
  font-family: Roboto;
  z-index: auto;
  position: relative;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.questions {
  background-color: #FAFAFA;
  border: 4px solid #5B8AFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  width: 550px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}

.questions h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.users {
  background-color: #FAFAFA;
  border-radius: 8px;
  height: 64px;
  margin: 10px 0;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users p {
  font-size: 16px;
  color: #999999;
  font-weight: bold;
  padding: 0 20px;
}

.brainstorming {
  margin: 20px;
  border-radius: 16px;
  width: 220px;
  height: 170px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brainstorming icon {
  position: absolute;
  top: 10;
  right: 10;
}

.brainstorming textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  margin: 0;
  padding: 0;
  border: 0px solid black;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
}

.lastPhase {
  font-size: 50px;
  color: #000000;
  margin-bottom: 5px;
}

.testing {
  padding: 100px 200px;
}
/*# sourceMappingURL=style.css.map */