/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
}

//COMPISITION
body {
    background-color: #E9EDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

//UTILITY
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    letter-spacing: 1px;
    .primary-button, .secondary-button {
        all: unset;
        padding: 15px 45px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 5px;
    }
    .primary-button {
        //background-color: #467AFF;  // old
        background-color: #5B8AFD;
    
        margin-right: 20px;
        &:hover {
            background-color: #3564da;
            // background-color: #1F7AFF; // old
        }
    }
    .secondary-button {
        //background-color: #FF4444; // old
        background-color: #FF7C7C;

        &:hover {
            background-color: #DD4444;
        }
    }
}

.title {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

//BLOCK
.enterRoom {
    flex-direction: column;
    height: 100vh;
    .input {
        display: flex;
        flex-direction: column;
        label {
            font-size: 20px;
            color: #6bb363;
            margin-bottom: 5px;
        }
        input {
            border-radius: 25px;
            line-height: 1.5rem;
            padding: 10px 20px;
            font-size: 20px;
            outline: none;
            border: 2px solid #6bb363;
        }
    }
}

.createRoom {
    .title {
        color: #2AA11F;
    }
    img {
        margin: 50px;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            label {
                font-size: 20px;
                color: #2AA11F;
                margin-bottom: 5px;
            }
            input[type=text] {
                border-radius: 25px;
                line-height: 1.5rem;
                padding: 10px 20px;
                font-size: 20px;
                outline: none;
                border: 2px solid #2AA11F;
                width: 30vw;
            }
            textarea {
                border-radius: 25px;
                line-height: 1.5rem;
                padding: 10px 20px;
                font-size: 20px;
                outline: none;
                border: 2px solid #2AA11F;
                width: 30vw;
            }
            .range {
                width: calc(30vw + 40px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input[type=range] {
                    width: 30vw;
                }
                .range-value {
                    font-size: 20px;
                }
            }
            .flow {
                width: calc(30vw + 40px);
            }
            input[type=date] {
                width: calc(30vw + 40px);
            }
            .buttons {
                width: calc(30vw + 40px);
            }
        }
    }
}

.userView {
    nav {
        background-color: #6C93FC;
        height: 64px;
        padding: 0 50px;
        display: grid;
        grid-template-columns: 10vw 20vw auto 20vw 10vw;
        align-items: center;
        p {
            margin: 0;
            color: #FAFAFA;
        }
        .nav-roomphase {
            font-size: 24px;
            letter-spacing: 0.5px;
        }
        .nav-center {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .note-icon {
                &:hover {
                    cursor: pointer;
                }
            }

            button {
                background-color: transparent;
                border: none;
                outline:none;
            }
        }
        .nav-end {
            grid-column-start: 5;
            grid-column-end: 6;
            justify-self: end;
            button {
                all: unset;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #ffffff00;
                font-size: 22px;
                font-weight: 400;
                color: #FAFAFA;
                border: 2px solid #FAFAFA;
                border-radius: 4px;
                padding: 7px 15px;
                p {
                    margin-right: 10px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: #FAFAFA;
                    p {
                        color: #666666;
                    }
                    svg path {
                        stroke: #666666!important;
                    }
                }
            }
        }
    }
    .body {
        display: grid;
        grid-template-columns: auto 15vw;
        height: calc(100vh - 64px);
        .canvas {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .userList {
            grid-column-start: 2;
            grid-column-end: 3;
            background-color: #F0F0F0;
            display: flex;
            flex-direction: column;
            .userList-header {
                background-color: #CCCCCC;
                height: 64px;
                padding: 0 30px;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                    font-size: 18px;
                    color: #666666;
                    font-weight: bold;
                }
            }
            .userList-body {
                padding: 0 25px;
            }
        }
    }
    .nameState {
        flex-direction: column;
        height: 100vh;
        .input {
            display: flex;
            flex-direction: column;

            label {
                font-size: 20px;
                color: #6bb363;
                margin-bottom: 5px;
            }
            input {
                border-radius: 25px;
                line-height: 1.5rem;
                padding: 10px 20px;
                font-size: 20px;
                outline: none;
                border: 2px solid #6bb363;
            }
            .buttons {
                align-self: center;
                button {
                    margin-right: 0;
                }
            }
        }
    }
    .phase1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

.questions {
    background-color: #FAFAFA;
    border: 4px solid #5B8AFD;
    box-sizing: border-box;
    border-radius: 16px;
    width: 550px;
    padding: 25px 20px; 
    display: flex;
    flex-direction: column;
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0;
    }
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #666666;
        margin: 0;
    }
}

.users {
    background-color: #FAFAFA;
    border-radius: 8px;
    height: 64px;
    margin: 10px 0;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        font-size: 16px;
        color: #999999;
        font-weight: bold;
        padding: 0 20px;
    }
}

// $brainstorming-colours:
//     "colour1" #7194ee,
//     "colour2" #7194ee,
//     "colour3" #7194ee,
//     "colour4" #7194ee,
//     "colour5" #7194ee,
//     "colour6" #7194ee,
//     "colour7" #7194ee,
//     "colour8" #7194ee;

// @each $i in $brainstorming-colours{
//     .brainstorming-#{nth($i, 1)}{
//         background-color: nth($i, 2);
//         box-sizing: border-box;
//         border-radius: 16px;
//         width: 250px;
//         height: 250px;
//         padding: 20px 20px; 
//         display: flex;
//         flex-direction: row;
//         p {
//             font-style: normal;
//             font-weight: normal;
//             font-size: 18px;
//             line-height: 23px;
//             margin-bottom: 0;
//         }
//     }
// }

.brainstorming{
    background-color: #ccdaff;
    border-radius: 16px;
    width: 220px;
    height: 170px;
    padding: 20px; 
    position: relative;
    display: flex;
    flex-direction: column;

}

.brainstorming textarea {
    position: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    margin: 0;
    padding: 0;
    border: 0px solid black;
    resize: none;

    font-size: 16px;
    font-family: Roboto;
}

.brainstorming icon{
    position: absolute;
    top: 10;
    right: 10;

}
//EXCEPTION

.testing {
    padding: 100px 200px;
}