/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
}

$color-1: #FBE0B7; 
$color-2: #787BDA; 
$color-3: #F27C4A; 
$color-4: #F893B2; 
$color-5: #A4DCFC; 
$color-6: #11C7AA; 
$color-7: #FFE55B; 
$color-8: #D3D3D3; 

//COMPISITION
body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

//UTILITY
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    letter-spacing: 1px;
    .primary-button, .secondary-button {
        all: unset;
        padding: 15px 45px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 50px;
    }
    .primary-button {
        background-color: #467AFF;
        margin-right: 20px;
        &:hover {
            background-color: #1F7AFF;
        }
    }
    .secondary-button {
        background-color: #FF4444;
        &:hover {
            background-color: #DD4444;
        }
    }
}

.title {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.color-1 {
    background-color: $color-1!important;
}

.color-2 {
    background-color: $color-2!important;
}

.color-3 {
    background-color: $color-3!important;
}

.color-4 {
    background-color: $color-4!important;
}

.color-5 {
    background-color: $color-5!important;
}

.color-6 {
    background-color: $color-6!important;
}

.color-7 {
    background-color: $color-7!important;
}

.color-8 {
    background-color: $color-8!important;
}

//BLOCK
.enterRoom {
    flex-direction: column;
    height: 100vh;
    .input {
        display: flex;
        flex-direction: column;
        label {
            font-size: 20px;
            color: #2AA11F;
            margin-bottom: 5px;
        }
        input {
            border-radius: 25px;
            line-height: 1.5rem;
            padding: 10px 20px;
            font-size: 20px;
            outline: none;
            border: 2px solid #2AA11F;
        }
    }
}

.createRoom {
    .title {
        color: #2AA11F;
    }
    img {
        margin: 50px;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            label {
                font-size: 20px;
                color: #2AA11F;
                margin-bottom: 5px;
            }
            input[type=text] {
                border-radius: 25px;
                line-height: 1.5rem;
                padding: 10px 20px;
                font-size: 20px;
                outline: none;
                border: 2px solid #2AA11F;
                width: 30vw;
            }
            textarea {
                border-radius: 25px;
                line-height: 1.5rem;
                padding: 10px 20px;
                font-size: 20px;
                outline: none;
                border: 2px solid #2AA11F;
                width: 30vw;
            }
            .range {
                width: calc(30vw + 40px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input[type=range] {
                    width: 30vw;
                }
                .range-value {
                    font-size: 20px;
                }
            }
            .flow {
                width: calc(30vw + 40px);
            }
            input[type=date] {
                width: calc(30vw + 40px);
            }
            .buttons {
                width: calc(30vw + 40px);
            }
        }
    }
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.questions {
    background-color: #FFF;
    width: 550px;
    height: 100px;
    padding: 20px 50px;
    border-radius: 100px;
    box-shadow: 4px 4px 7px 2px #ccc;        
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        margin-right: 20px;
    }
    p {
        font-size: 18px;
=======
>>>>>>> Stashed changes
.brainstorming {
    all: unset;
    padding: 20px;
    height: 125px;
    border-radius: 7px;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    } 
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
<<<<<<< Updated upstream
=======
>>>>>>> 05a8e7bbb1aca0d1d6c9f05fded123e493af4fc6
>>>>>>> Stashed changes
    }
}

//EXCEPTION